body {
    background-image: "apple_hole_background.jpg";
      height: 200px;
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      margin: 0;
}

#greenapple{
  position: absolute;
  width:360px;
  left:400px;
  top: 130px;
}

#greenapple:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_orange {
  position: absolute;
  width: 60px;
  right:180px;
  top:140px
}

#click_orange:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_fork {
  position: absolute;
  width: 110px;
  left:220px;
  top:140px
}

#click_fork:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_cloud {
  position: absolute;
  width: 110px;
  right:520px;
  top:160px
}

#click_cloud:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#metal_fork {
  position: absolute;
  width: 110px;
  left:200px;
  top:110px
}

#metal_fork:active {
  transform: rotate(90deg);
  transition: 2s;
} 

#metal_knife {
  position: absolute;
  width: 110px;
  right:205px;
  top:110px
}

#metal_knife:active {
  transform: rotate(-70deg);
  transition: 2s;
} 

#eye {
  position: absolute;
  right: 6300px;
  top: 350px;
  width: 160px;
  height: 160px;
  background-image: url('closed_eye.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#eye:hover {
  background-image: url('open_eye.png');
}

#orange_head {
  position: absolute;
  width: 500px;
  left:352px;
  top:15px
}

#orange_head:hover {
  transform: rotate(360deg);
  transition: 2s;
} 

#table1 {
  margin-left: 100px; 
  margin-top: 120px; 
  width:1450px; 
}

#table2 {
  margin-left: 330px; 
  margin-top: 10px; 
  width:970px; 
}

#me_rain {
  width: 100px;
} 

#me_rain:hover {
  transform: rotate(180deg);
  transition: 2s;
} 

#me_rain_2 {
  width: 100px;
}

#me_rain_2:hover {
  transform: rotate(360deg);
  transition: 2s;
} 

#me_rain_3 {
  width: 100px;
}

#me_rain_3:hover {
  transform: rotate(180deg);
  transition: 2s;
} 

#me_rain_4 {
  width: 100px;
}

#me_rain_4:hover {
  transform: rotate(-180deg);
  transition: 2s;
} 

#me_rain_5 {
  width: 100px;
}

#me_rain_5:hover {
  transform: rotate(-180deg);
  transition: 2s;
} 

section {
  padding-top: 200px;
}



