body {
    background-color:white;
      height: 550px;
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      margin: 0;
}

#orange {
  position: absolute;
  width: 10vw;
  left: calc(50%);
  top: calc(50%);
}

#orange:active {
  transform:scale(1.1)translatez(20px);
  cursor:pointer;
}

#blue {
  position: absolute;
  width: 30vw;
  left: calc(18%);
  top: calc(20%);
}

#blue:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}

#eye {
  position: absolute;
  width: 16vw;
  left: calc(7%);
  top: calc(75%);
}

#eye:hover {
  animation: eye-wiggle 0.7s infinite alternate ease-in-out;
}

@keyframes eye-wiggle {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#arrow {
  position: absolute;
  width: 6vw;
  left: calc(80%);
  top: calc(10%);
}

#arrow:hover {
  animation: arrow-wiggle 0.7s infinite alternate ease-in-out;
}

@keyframes arrow-wiggle {
  from {
    transform: rotate(-80deg);
  }
  to {
    transform: rotate(20deg);
  }
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;       /* vertical */
}


