body {
    background-color: lightblue;
}

 td {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
} 



#sky:hover {
    transform: rotate(180deg);
}

section {
  padding-top: 200px;
}



