body {
    background-image: url("apple_hole_background.jpg");
      height: 100vh;
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      margin: 0;
}

#greenapple{
  position: absolute;
  width:30vw;
  left: calc(33.5%);
  top: calc(3%);
}

#greenapple:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

#hand_webring{
  position: absolute;
  width:10vw;
  right:13px;
  bottom:10px;
}

#hand_webring:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_orange {
  position: absolute;
  width: 4vw;
  right:16vw;
  top: 6vw;
}

#click_orange:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_fork {
  position: absolute;
  width: 7.5vw;
  left:20vw;
  top:6vw;
}

#click_fork:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_cloud {
  position: absolute;
  width: 7vw;
  right:43.4vw;
  top:9vw;
}

#click_cloud:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#metal_fork {
  position: absolute;
  width: 7vw;
  left: 15vw;
  top: 9vw;
}

#metal_fork:active {
  transform: rotate(90deg);
  transition: 2s;
} 

#metal_knife {
  position: absolute;
  width: 7vw;
  right:16.4vw;
  top: 9vw;
}

#metal_knife:active {
  transform: rotate(-70deg);
  transition: 2s;
} 

#eye {
  position: absolute;
  width: 12vw;
  height:9vw;
  background-image: url('closed_eye.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 43vw;
  top: 21.9vw;
}

#eye:hover {
  background-image: url('open_eye.png');
}

#orange_head {
  position: absolute;
  width: 37vw;
  left: 32vw;
  top:3vw;;
}

#orange_head:hover {
  transform: rotate(360deg);
  transition: 2s;
} 

#table1 {
  margin-left: 100px; 
  margin-top: 120px; 
  width:1450px; 
}

#table2 {
  margin-left: 330px; 
  margin-top: 10px; 
  width:970px; 
}

#me_rain {
  width: 6vw;
  left: 20vw;
  top: 10vw;
} 

#me_rain:hover {
  transform: rotate(180deg);
  transition: 2s;
} 

#me_rain_2 {
  width: 6vw;
  left:40vw;
  top: 60vw;
}

#me_rain_2:hover {
  transform: rotate(360deg);
  transition: 2s;
} 

#me_rain_3 {
  width: 6vw;
}

#me_rain_3:hover {
  transform: rotate(180deg);
  transition: 2s;
} 

#me_rain_4 {
  width: 6vw;
}

#me_rain_4:hover {
  transform: rotate(-180deg);
  transition: 2s;
} 

#me_rain_5 {
  width: 6vw;
}

#me_rain_5:hover {
  transform: rotate(-180deg);
  transition: 2s;
} 

section {
  padding-top: 200px;
}



