body {
    background-image: url("apple_hole_background.jpg");
      height: 100vh;
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      margin: 0;
}

#greenapple{
  position: absolute;
  width:30vw;
  left: calc(33.5%);
  top: calc(3%);
}

#greenapple:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

#hand_webring{
  position: absolute;
  width:10vw;
  right:13px;
  bottom:10px;
}

#hand_webring:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_orange {
  position: absolute;
  width: 3.5vw;
  right:24vw;
  bottom: 41.5vw;
}

#click_orange:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_fork {
  position: absolute;
  width: 6.5vw;
  left:24vw;
  bottom: 40vw;
}

#click_fork:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#click_cloud {
  position: absolute;
  width: 6vw;
  right:46vw;
  bottom: 37.5vw
}

#click_cloud:hover {
 animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 3s;
}

@keyframes wiggle {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#three_mes{
  position: absolute;
  width:75vw;
  left: calc(11%);
  bottom: calc(0%);
}

#metal_fork {
  position: absolute;
  width: 7vw;
  left: 15vw;
  top: 9vw;
}

#metal_fork:active {
  transform: rotate(90deg);
  transition: 2s;
} 

#metal_knife {
  position: absolute;
  width: 7vw;
  right:16.4vw;
  top: 9vw;
}

#metal_knife:active {
  transform: rotate(-70deg);
  transition: 2s;
} 

#eye {
  position: absolute;
  width: 12vw;
  height:9vw;
  background-image: url('closed_eye.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 43vw;
  top: 21.9vw;
}

#eye:hover {
  background-image: url('open_eye.png');
}

#orange_head {
  position: absolute;
  width: 37vw;
  left: 32vw;
  top:3vw;;
}

#orange_head:hover {
  transform: rotate(360deg);
  transition: 2s;
} 

#table1 {
  width: 80vw;
  margin: 12vw auto;
}

#table2 {
  width: 50vw;
  margin: 10vw auto;
}

td {
  text-align: center;
}

#me_rain,
#me_rain_2,
#me_rain_3,
#me_rain_4,
#me_rain_5 {
  width: 6vw;
  margin: 0 2vw;              
  transition: transform 2s;
}

#me_rain:hover { transform: rotate(180deg); }
#me_rain_2:hover { transform: rotate(360deg); }
#me_rain_3:hover { transform: rotate(180deg); }
#me_rain_4:hover,
#me_rain_5:hover { transform: rotate(-180deg); }

section {
  padding-top: 200px;
}



