body {
    background-image: url("portfolio_background.jpg");
      height: 100vh;
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      margin: 0;
}

#email{
  position: absolute;
  width:13vw;
  right: calc(0%);
  top: calc(0%);
}

#aotw_cursive{
  position: absolute;
  width:47vw;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#purple_end{
  position: absolute;
  width:12vw;
  bottom: 0%;
  right: 0%;
}

#star_1{
  position: absolute;
  width:3.7vw;
  bottom: 31%;
  left: 8%;
}

#star_2{
  position: absolute;
  width:2.6vw;
  bottom: 9%;
  left: 27%;
}

#star_3{
  position: absolute;
  width:2.1vw;
  bottom: 38%;
  right: 34%;
}

#star_4{
  position: absolute;
  width:4.4vw;
  top: 26.5%;
  right: 16%;
}

#jellyfish{
  position: absolute;
  width:13vw;
  left: calc(15%);
  top: calc(30%);
}

.jelly-link {
  width:13vw;
  left: calc(15%);
  top: calc(30%);
}

#jellyfish_text{
  position: absolute;
  width:8.5vw;
  left: calc(14.4%);
  top: calc(26.5%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.jelly-link:hover #jellyfish_text {
  opacity: 1;
}

#jellyfish:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

#jellyfish:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#heeseo_yoons{
  position: absolute;
  width:24vw;
  left: calc(0%);
  top: calc(0%);
}

#still_life{
  position: absolute;
  width:12vw;
  left: calc(30%);
  top: calc(22%);
}

.still-life-link {
  width:12vw;
  left: calc(30%);
  top: calc(22%);
}

#still-life_text{
  position: absolute;
  width:7.4vw;
  left: calc(30.5%);
  top: calc(18.3%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.still-life-link:hover #still-life_text {
  opacity:1
} 

#still_life:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

#still_life:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#apple{
  position: absolute;
  width:12vw;
  left: calc(44.7%);
  top: calc(32%);
}

.matisse-link {
  width:12vw;
  left: calc(44.7%);
  top: calc(32%);
}

#magritte_text{
  position: absolute;
  width:8.8vw;
  left: calc(46%);
  top: calc(28.2%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.matisse-link:hover #magritte_text {
  opacity:1
} 

#apple:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

#apple:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#finger{
  position: absolute;
  width:12vw;
  left: calc(59%);
  top: calc(22%);
}

.webring-link{
  width:12vw;
  left: calc(59%);
  top: calc(22%);
}

#webring_text{
  position: absolute;
  width:7vw;
  left: calc(60.7%);
  top: calc(18.1%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.webring-link:hover #webring_text {
  opacity:1
} 

#finger:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

#finger:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#mouth{
  position: absolute;
  width:12vw;
  left: calc(72.5%);
  top: calc(41%);
}

.portraits-link{
  width:12vw;
  left: calc(72.5%);
  top: calc(41%);
}

#portraits_text{
  position: absolute;
  width:5.5vw;
  left: calc(79.5%);
  top: calc(39%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.portraits-link:hover #portraits_text {
  opacity:1
} 

#mouth:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#mouth:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#clock{
  position: absolute;
  width:12vw;
  left: calc(67%);
  top: calc(71%);
}

.clock-link{
  width:12vw;
  left: calc(67%);
  top: calc(71%);
}

#clock_text{
  position: absolute;
  width:6.5vw;
  left: calc(69%);
  top: calc(67%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.clock-link:hover #clock_text {
  opacity:1
} 

#clock:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

#clock:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#shakespeare{
  position: absolute;
  width:12vw;
  left: calc(50%);
  top: calc(73%);
}

.shakespeare-link{
  width:12vw;
  left: calc(50%);
  top: calc(73%);
}

#shakespeare_text{
  position: absolute;
  width:11vw;
  left: calc(51.4%);
  top: calc(69.3%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.shakespeare-link:hover #shakespeare_text {
  opacity:1
} 

#shakespeare:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-4deg);
  }
}

#shakespeare:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#tea{
  position: absolute;
  width:11vw;
  left: calc(37%);
  top: calc(63%);
}

.tea-link{
  width:11vw;
  left: calc(37%);
  top: calc(63%);
}

#milktea_text{
  position: absolute;
  width:11vw;
  left: calc(37.4%);
  top: calc(59.4%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.tea-link:hover #milktea_text {
  opacity:1
} 

#tea:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

#tea:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#abstract{
  position: absolute;
  width:13vw;
  left: calc(21%);
  top: calc(57%);
}

.abstract-link{
  width:13vw;
  left: calc(21%);
  top: calc(57%);
}

#abstraction_text{
  position: absolute;
  width:10vw;
  left: calc(21.4%);
  top: calc(53.5%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.abstract-link:hover #abstraction_text {
  opacity:1
} 

#abstract:hover {
  animation: wiggle 0.6s infinite alternate ease-in-out;
  transition: 1s;
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

#abstract:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#readings_home{
  position: absolute;
  width:10vw;
  left: calc(5%);
  top: calc(75%);
}

#readings_home:hover {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

.readings-link{
  width:13vw;
  left: calc(5%);
  top: calc(57%);
}

#readings_text{
  position: absolute;
  width:9vw;
  left: calc(9%);
  rotate:-4deg;
  top: calc(74.5%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

#click_reading{
  position: absolute;
  width:3vw;
  left: calc(12.4%);
  rotate:-4deg;
  top: calc(75.6%);
  opacity: 1;
  transition: opacity 0.1s ease;
}
.readings-link:hover #readings_text {
  opacity:1
} 

.readings-link:hover #click_reading {
  opacity:0
} 

#portfolio_home{
  position: absolute;
  width:4.5vw;
  left: calc(2%);
  top: calc(87%);
}

.port_home-link{
  width:4.5vw;
  left: calc(2%);
  top: calc(87%);
}

.port_home-link:hover #portfolio_home {
  filter:     
    drop-shadow(0 0 10px rgba(255, 200, 80, 0.9))
    drop-shadow(0 0 15px rgba(255, 170, 60, 0.7))
}

#grey{
  position: absolute;
  width:35vw;
  right: calc(0%);
  bottom: calc(0%);
}

#banner{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#title_reading{
  position: absolute;
  width:23vw;
  right: calc(9%);
  top: calc(8.4%);
}

#one{
  position: absolute;
  width:6vw;
  left: calc(16%);
  top: calc(25%);
}

#one:hover {
  transform: scale(1.1);
}

#two{
  position: absolute;
  width:6vw;
  left: calc(26%);
  top: calc(25%);
}

#two:hover {
  transform: scale(1.1);
}

#three{
  position: absolute;
  width:6vw;
  left: calc(36%);
  top: calc(25%);
}

#three:hover {
  transform: scale(1.1);
}

#four{
  position: absolute;
  width:6vw;
  left: calc(46%);
  top: calc(25%);
}

#four:hover {
  transform: scale(1.1);
}

#five{
  position: absolute;
  width:6vw;
  left: calc(21%);
  top: calc(43%);
}

#five:hover {
  transform: scale(1.1);
}

#six{
  position: absolute;
  width:6vw;
  left: calc(31%);
  top: calc(43%);
}

#six:hover {
  transform: scale(1.1);
}

#seven{
  position: absolute;
  width:6vw;
  left: calc(41%);
  top: calc(43%);
}

#seven:hover {
  transform: scale(1.1);
}

#eight{
  position: absolute;
  width:6vw;
  left: calc(16%);
  top: calc(61%);
}

#eight:hover {
  transform: scale(1.1);
}

#nine{
  position: absolute;
  width:6vw;
  left: calc(26%);
  top: calc(61%);
}

#nine:hover {
  transform: scale(1.1);
}

#ten{
  position: absolute;
  width:6vw;
  left: calc(36%);
  top: calc(61%);
}

#ten:hover {
  transform: scale(1.1);
}

#eleven{
  position: absolute;
  width:6vw;
  left: calc(46%);
  top: calc(61%);
}

#eleven:hover {
  transform: scale(1.1);
}

#banner_sub{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#back_home_reading{
  position: absolute;
  width:5vw;
  left: calc(3%);
  rotate: 22deg;
  bottom: calc(6.4%);
}

.readings-link{
  width:13vw;
  right: calc(30%);
  top: calc(57%);
}

#response_1{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_2{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_3{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_4{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_5{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_6{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_7{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_8{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_9{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_10{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#response_11{
  position: absolute;
  width:57vw;
  left: calc(5%);
  bottom: calc(10%);
}

#next{
  position: absolute;
  width:18vw;
  right: calc(9%);
  top: calc(8.4%);
}

#next:hover {
  transform: scale(1.05);
}

#fin{
  position: absolute;
  width:20vw;
  right: calc(9%);
  top: calc(5%);
}

section {
  padding-top: 200px;
}



